$zIndex: 100000000;
$tooltip-width: 280px;
$arrow-size: 10px;
$transition-fast: 0.3s ease-in-out;
$transition-ultra-fast: 0.1s ease-in-out;
$transition-medium: 0.4s ease-out;

.sf-root {
  .sf-overlay {
    position: fixed;
    inset: 0;
    z-index: $zIndex;
    opacity: 0;
    box-sizing: content-box;
    transition: all $transition-medium;
  }

  .sf-highlight {
    position: absolute;
    z-index: $zIndex;
    pointer-events: none;
    box-sizing: border-box;
    transition: all $transition-fast;
    --box-shadow: rgba(0, 0, 0, 0.8) 0 0 1px 2px, rgba(0, 0, 0, 0.3) 0 0 0 5000px;
    box-shadow: var(--box-shadow);

    &.sf-no-shadow {
      box-shadow: rgba(0, 0, 0, 0.8) 0 0 1px 2px;
    }
  }

  .sf-pointer {
    cursor: pointer !important;
  }

  .sf-tooltip {
    position: absolute;
    z-index: $zIndex;
    width: $tooltip-width;
    display: block;
    opacity: 0;
    transition: opacity $transition-fast;
    --arrow-offset: 50%;
    background: #fff;
    box-shadow: 0 3px 30px rgba(33, 33, 33, 0.3);

    &.sf-visible {
      opacity: 1;
    }

    // Vertical arrow styles (for top/bottom placements)
    &.sf-arrow-top::before,
    &.sf-arrow-bottom::before {
      content: "";
      position: absolute;
      left: var(--arrow-offset, 50%);
      transform: translateX(-50%);
      border-left: $arrow-size solid transparent;
      border-right: $arrow-size solid transparent;
    }

    &.sf-arrow-top::before {
      top: -$arrow-size;
      border-bottom: $arrow-size solid #fff;
    }

    &.sf-arrow-bottom::before {
      bottom: -$arrow-size;
      border-top: $arrow-size solid #fff;
    }

    // Horizontal arrow styles (for left/right placements)
    &.sf-arrow-left::before,
    &.sf-arrow-right::before {
      content: "";
      position: absolute;
      top: var(--arrow-offset, 50%);
      transform: translateY(-50%);
      border-top: $arrow-size solid transparent;
      border-bottom: $arrow-size solid transparent;
    }

    &.sf-arrow-left::before {
      left: -$arrow-size;
      border-right: $arrow-size solid #fff;
    }

    &.sf-arrow-right::before {
      right: -$arrow-size;
      border-left: $arrow-size solid #fff;
    }
  }


  .sf-btn {
    background: black;
    color: white;
    padding: 6px 10px;
    border: none;
    cursor: pointer;
  }

  .sf-dots {
    display: flex;
    justify-content: center;
    gap: 6px;
    list-style: none;

    .sf-dot {
      width: 6px;
      height: 6px;
      border-radius: 999px;
      background: #ccc;
      transition: all $transition-ultra-fast;

      &:not(.sf-active) {
        cursor: pointer;
      }

      &.sf-active, &:hover {
        background: #000;
        width: 12px;
      }
    }
  }

  .sf-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-inline {
      gap: 6px;
    }

    .sf-left {
      display: flex;
      gap: 8px;
    }
  }

  .sf-progress-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sf-card {
    width: $tooltip-width;
    border-radius: var(--ct-border-radius_3) !important;
    box-shadow: 0 2px 6px #00000029 !important;

    .sf-card-header {
      padding: 15px 10px 10px 10px;
    }

    &.no-body .sf-card-header {
      padding: 10px 10px 0px;
    }

    .sf-card-body {
      padding: 0 10px;
    }

    .sf-card-footer {
      padding: 10px;
    }
  }
}


.sf-no-transition {
  transition: none !important;
}

.sf-overflow-hidden {
  overflow: hidden !important;
}