.onboarding-overlay {
  inset: 0;
  position: fixed;
  box-sizing: content-box;
  z-index: 9999999;
  opacity: 0;
  transition: all 0.4s ease-out;
}

.onboarding-highlight {
  position: absolute;
  z-index: 9999999;
  pointer-events: none;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  box-shadow:
          rgba(244, 117, 26, 0.8) 0px 0px 1px 2px,
          var(--ct-color_shade-2) 0px 0px 0px 5000px;
}

.onboarding-dropdown-step {
  z-index: 9999999;
  width: 280px;
  --arrow-offset: 50%;
  display: block;
  position: absolute;
  opacity: 0;
  transition: opacity 300ms ease-in-out;

  &.visible {
    opacity: 1;
  }

  .card {
    border-radius: var(--ct-border-radius_3) !important;
    width: 280px;
    box-shadow: 0 2px 6px #00000029 !important;
  }
}

/* When dropdown is below the target: arrow on top of the dropdown */
.onboarding-dropdown-step.arrow-top::before {
  content: "";
  position: absolute;
  top: -10px; /* Arrow is drawn above the dropdown */
  left: var(--arrow-offset, 50%);
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ffffff;
}

/* When dropdown is above the target: arrow on bottom of the dropdown */
.onboarding-dropdown-step.arrow-bottom::before {
  content: "";
  position: absolute;
  bottom: -10px; /* Arrow is drawn below the dropdown */
  left: var(--arrow-offset, 50%);
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ffffff;
}

/* Class to disable transition during resize */
.no-transition {
  transition: none !important;
}